.App{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.light{
  background: white;
  color: black;
}
.dark{
  background: black;
  color: white;
}
.btn{
  border: none;
  height: 2rem;
  width: 4rem;
  /* padding: 1rem; */
}